
.table_border {
  float: left;
  width: 97%;
  border-radius: 5px;
  padding: 5px;
  background: #90ee90;
  margin: 4px 0px;
}

a, a:hover, a:visited {
  text-decoration: none;
}                   

          