
<div id="transactions_table_small">
  <table>
    <tr>
      <th>Date</th>
      <th>Value</th>
      <th>Description</th>
      </tr>
    <% @transactions.each do |transaction| %>
      
        <tr class="transactionRow" data-id="<%= transaction.id %>">
          <td>
            <%= transaction.date_string %></td>
          <td class="transaction_value"><%= transaction.value %></td>
          <td><%= transaction.description %></td>
        </tr>

    <% end %>
  </table>
</div>

<script>
  $('.transactionRow').click(function(){
    var id = $(this).data('id');
    window.location = "/transactions/" + id
  });
</script>